    body {
        margin: 0;
        padding: 0;
        background-color: #926cfa;
        height: 100vh;
    }
    
    .text-color {
        color: #926cfa;
    }
    
    #login .container #login-row #login-column #login-box {
        margin-top: 5px;
        max-width: 600px;
        height: 610px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }
    
    #login .container #login-row #login-column #login-box #login-form {
        padding: 10px;
    }
    
    #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
    }